body {
/*    font: 12px Arial;*/
    height: 100%;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.line {
    fill: none;
    stroke-width: 3px;
}

.celcom {
    stroke: steelblue;
}

.digi {
    stroke: gold;
}

h5 {
    font-size: 20px;
    font-weight: 800;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-table .table {
    transform: scale(1)!important;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

table {
    border-collapse: collapse;
    font: 12px sans-serif;
    transform: scale(0.98);
}

tr:first-child {
    border-bottom: 1px solid lightgray!important;
}

td {
    padding: 5px;
}

#hashtag, #mention, #repliesComparison {
    min-height: 40%!important;
}

#brandcelcom svg text,
#branddigi svg text {
    font-size: x-large;
}

#topRetweets table tr:last-child {
    display: none;
}

.card, .table {
    border: 1px solid lightgray!important;
}

.card, img, .table {
    transition: all 0.2s ease;
}

.card svg {
    transform: scale(0.93);   
}

.custom-hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row, .row > div {
    overflow: visible!important;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.custom-table .table:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#assg3 img {
    height: 600px;
}

img {
    height: 320px;
    object-fit: contain;
    transform: scale(0.93);
}

.bg-black {
    background-color: black;
}

#btnassg1, #btnassg2, #btnassg3 {
    font-size: 25px;
    font-weight: bold;
}

#btnassg1 > p, #btnassg2 > p, #btnassg3 > p {
    font-size: small;
    font-weight: normal;
    color: lightgray;
}


#assg1, #assg2, #assg3 {
    transition: all 0.3s ease;
    overflow: hidden;
    height: 100%;
}

.hide {
    height: 0!important;
}